html {
  scroll-behavior: smooth;
}
/* Réinitialisation des styles par défaut */
body, h1, p, img {
  margin: 0;
  padding: 0;
}

p {
  width: 70%;
  min-width: 280px;
  text-align: left;
  margin: 0 auto 100 auto;
  line-height: calc(1em + 1vw + 1vh);
  font-size: calc(1rem + 1vw);
}

.produit-container { 
  margin: 100px 0;
}
.produit {
  position: relative;
  width: 60vw;
  max-width: 600px;
}
#p2 {
  margin: 0 6vw 0 auto;
}
#p3 {
  margin-left: 8vw;
}
.produit img {

}


.bvn {
  /* la section ppal */
  margin-top: calc(8vw + 8vh);
  margin-bottom: calc(8vw + 4vh);
}

#li1 a::after,
#li2 a::after,
#li3 a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: #628a2b;
  height: 4px;
  bottom: -10px;
  border-radius: 50%;
}

#li1 a:hover::after,
#li2 a:hover::after,
#li3 a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}

@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

a#wtsp::after {
  content: none;
}

.logo a::after {
  content: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

*::selection {
  background: #000101;
  color: #fefeff;
}

body {
  display: block;
  background-color: #f2eded;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: calc(2vh + 2vw);
  margin-top: calc(2vh + 2vw);;
  padding: 20px;
  text-align: center;
  font-size: calc(1rem + 3vw);
  color: #4f692a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: shine 2s infinite alternate;
}

@keyframes shine {
  0% {
  }
  100% {
    color: #d5b01c;
  }
}

form {
  width: 80%;
  max-width: 400px; /* Limite la largeur maximale du formulaire pour les grands écrans */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="phone"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  resize: vertical;
  /* Permet de redimensionner la zone de texte verticalement */
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  resize: vertical;
  /* Permet de redimensionner la zone de texte verticalement */
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #5d812b;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}





button[type="submit"]:hover {
  background-color: #5d812b;
  transform: scale(1.1);
}
.img-bvn-wrapper{
  width: 80vw;
  align-items: center;
}
.img.imgbvn {
  position: relative;
  width: 500px;
  height: 400px;
  background-image: url('/img/olive-oil.jpg');
  background-size: cover/center;
  /* Autres styles pour l'élément avec l'image de fond */
}

.img.imgbvn p {
  /* Styles pour le texte alternatif */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  color: transparent; /* Pour cacher le texte du flux de la page, mais toujours le rendre accessible */
}


li {
  list-style: none;
}

li {
  display: inline-block;
  background: #5d812b;
  padding: 0 0 2px 0;
  border-radius: 20px;
  /* Ajustez le rayon de bordure pour arrondir les coins */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

a,
a:visited {
  color: #f6f5f2;
  text-decoration: none;
  text-transform: uppercase;
}


a:hover {
  color: #0c0c0c;
}

#btn-wtsp {
  display: inline-block;
  background: #f2eded;
}

#btn-wtsp a {
  position: relative;
  top: 0;
  left: 0;
}

#btn-wtsp:hover {
  transform: scale(1.1);
}

#wtsp {
  padding: 0 15px 0 15px;
  color: #0c0c0c;
  display: inline-flex;
  /* Affiche les éléments en ligne (horizontalement) */
  align-items: center;
  /* Aligne verticalement les éléments sur l'axe du conteneur */
  text-decoration: none;
  /* Supprime le soulignement du texte (si présent) */
}

/* Style pour l'image */
#wtsp img {
  width: calc(0.7rem + 1.5vw);
  height: calc(0.7rem + 1.5vw);
  margin-right: 5px;
  /* Espacement entre l'image et le texte */
  padding: 0 0 0 10px;
}



nav {
  z-index: 999;
  background: #4f692a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vw);
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
}

nav ul {
  padding-left: 5vw;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 10vw;
}


li a {
  padding: 4px 20px 4px 20px;
}

nav li:hover {
  background: #628a2b;
}

#icons {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.lang-switcher {
  position: fixed;
  top: 10px;
  right: 5px;
  margin-bottom: 10px;
  z-index: 10000;
}

.lang-switcher button {
  padding: 5px 10px;
  font-size: 14px;
}

.logo {
  width: 8vw;
  text-align: center;
  z-index: 99999999;
}

.logo img {

  width: calc(8vw-10px);
  border-radius: 130px;
  /* Arrondir les coins */
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  border: 4px groove #f2ededd3;
  margin: 10px;
}

.logo img:hover {
  transform: scale(1.1);
}

.container-blanc {
  width: 100%;
  justify-content: center;
  height: 100vh;
  background-color: #f2eded;
  transition: background-color 0.5s ease;
}

.lang-switcher select {
  padding-bottom: 6px;
  padding-left: 2px;
}

.container-vert {
  align-items: center;
  position: relative;
  background-color: #4f692a;
  transition: background-color 0.5s ease;
}



.container-noir {
  width: 100%;
  height: 40vh;
  background-color: #060704;
  transition: background-color 0.5s ease;
}

img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

/* Style d'une image spécifique avec un dégradé */
.image-degrade {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background: linear-gradient(to right, #d5b01c, #628a2b);
  display: inline-block;
  padding: 5px;
}


.image-degrade img {
  display: block;
  border-radius: 5px;
}

.image-degrade:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #icons {
    opacity: 1;
    visibility: visible;
    padding-right: 5vw;
    z-index: 9999999;
  }


  #icons:before {
    content: "\2632";
    fill: #000000;
    font-size: 2.5em;
    padding-right: 5vw;
  }
  .active #icons:before {
    content: "\2715";
    fill: #ffffff;
    font-size: 2.5em;
    padding-right: 5vw;
  }
  nav ul {
    position: fixed;
    left: -150%;
    top: 5%;
    flex-direction: column;
    background: #4f692a;
    width: 100%;
    text-align: center;
    transition: 0.25s;
    padding-bottom: 30px;
  }
  nav li {
    padding: 10px 10px;
  }
  nav li:hover {
    background: #628a2b;
  }
  nav.active ul {
    left: 0;
  }
  nav.active li a {
    padding-left: 30vw;
    padding-right: 30vw;
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
  }


  li a::after {
    content: none;
  }

}
